{
  "merchantStart" : {
    "default" : {
    	"default" : [
        "I have items for all your needs!",
        "Need a weapon? I think I have a few.",
        "Need food? I should have something for you somehwere...",
        "Need healing items? I have some here I think.",
        "Want shinies? I have them!"
      ]
    }
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "Farewell.",
        "Safe travels.",
        "Come back again!",
        "Good luck!",
        "If you see Cynder, tell her I said hi!"
      ]
    }
  },
    "follow" : {
    "default" : {
    	"default" : [
        "Overe here.",
        "This way. ",
        "Come follow me to my shop.",
        "My shop's over here.",
        "Come this way."
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
        "See anything you want?",
        "Like anything?",
        "Care to make a purchase?",
        "Need anything?"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Travel supplies sold here!",
	      "I have useful things!",
	      "Weapons sold here!",
	      "Keep safe with my supplies!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
         "Hm? This isn't right." 
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "I feel trapped here."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I'm not sharing my shop with someone else."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "This is not okay, can you please fix it?"
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
		"I can't live here anymore, goodbye."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Oh, my new home! Hello!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Take this as a token of my appreciation."
      ]
    }
  }
}
